@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import '~@ctrl/ngx-emoji-mart/picker';

body {
    font-family: open sans !important;
    color: #000000 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
